.head_learn_more_bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
}

.head_learn_more_bar h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2;
    color: #fff;
}

.head_learn_more_bar h1:hover {
    cursor: pointer;
}

.container_page_learn_more {
    position: relative;
    z-index: 2;
}

.box_text_all_learn_banner {
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(30px);
    z-index: 1;
    -webkit-box-shadow: 10px 0px 31px 10px rgba(0,0,0,0.39); 
    box-shadow: 10px 0px 31px 10px rgba(0,0,0,0.39);
    border-radius: 50px;
    width: 50%;

    padding: 40px 50px;
}

.gradient_text {
    background: linear-gradient(to bottom, #ffffff 0%, #ffffff8a 8%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 30px;
    animation: appear3 1s ease-in-out;
}

.flex_container_learn_more {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    margin: 0 auto;
    padding: 0 50px;
    gap: 50px;
}

.right_container_learn_more {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right_container_learn_more img {
    height: 700px;
    animation: appear2 1s ease-in-out;
}

.box_text_all_learn_banner h2 {
    font-size: 50px;
    font-weight: 600;
    line-height: 1.2;
    color: #fff;
    width: 95%;
    margin-bottom: 40px;
    animation: appear3 1s ease-in-out;
}

.box_text_all_learn_banner .para_learn_more {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2;
    color: #ffffffae;
    width: 95%;
    margin-bottom: 20px;
    animation: appear3 1s ease-in-out;
}

.list_stats {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 50px;
    margin-left: 20px;
}

.item_stat {
    text-align: center;
    position: relative;
    z-index: 10;
}

.item_stat:hover {
    cursor: auto;
}

.item_stat p {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
    color: #ffffffae;
    margin-bottom: 10px;
}

.item_stat span {
    font-size: 70px;
    font-weight: 400;
    color: #ffffffae;
}

.item_stat:nth-child(1) {
    animation: appear_span 1s ease-in-out;
}

.item_stat:nth-child(2) {
    animation: appear_span 1s ease-in-out;
}

.item_stat:nth-child(3) {
    animation: appear_span 1s ease-in-out;
}

@keyframes appear2 {
    0% {
        opacity: 0;
        transform: translateY(150px);
    }
    100% {
        opacity: 1;
    }
}

@keyframes appear3 {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
    }
}


@keyframes appear_span {
    0% {
        opacity: 0;
        transform: translateX(30px);
    }
    100% {
        opacity: 1;
    }
}