.accueil {
    width: 100vw;
    height: 100vh;
    background-color: rgb(231, 248, 255);
    padding-left: 330px;
    padding-top: 50px;
}

.accueil_container {
    max-height: 100vh;
    overflow-y: hidden;
}